body{
    background: url("../images/background/red_back-home.png");
    background-color: #000000;
  }
  ::-webkit-scrollbar {
    width: 5px;  
    background: transparent;  
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #2a2f32;
  }
  .back-cover {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
  }
  .navigation {
    /* opacity: 0.8; */
    z-index: 1000;
    background-color: #000000;
    /* position: fixed; */
    padding:0px;
    width: 100%;
    height: 100px;
    overflow: visible;
  }
.active{
    color:#d14747;
 }
  .navigation ul{
    height: 100%;
    padding: 0px; 
    width: 100%;
  }
  .navigation ul li i{
    font-size: 30px;
    margin-right: 5px;
  }
  .navigation ul li a:hover{
    cursor: pointer;
  }
  .navigation ul li a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #BEBDBE;
  }
  .navigation ul li{
    border-bottom:2px solid #000000;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
    color: #BEBDBE;
    width: 20%;
    list-style-type: none;
    
  }
  .navigation ul li:hover{
    /* cursor: pointer; */
    /* opacity: 0.7; */
    /* background-color: # */
    border-bottom:2px solid #d14747;
  }
  .navigation ul a{
    float: left;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    
  }
  
  .logo{
    float: left;
    width: 200px;
    height: 100px;
}

.saved-container{
    /* position: relative;   */
    width: 63%;
    margin: 40px auto 10px auto;
}
.saved-container h4{
    color: #BEBDBE;
    margin: 30px 0px;
}
.saved-container a{
    /* margin-top: 10px; */
    border: 1px solid #000000;
    cursor: pointer;
    /* margin: 0px 10px; */
    color: #BEBDBE;
}
.saved-container a:hover{
    text-decoration: none;
    border-bottom: 1px solid #BEBDBE;
}
.saved-body{
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    background:linear-gradient(to right bottom,rgba(255,255,255,0.1),rgba(255,255,255,0.1));
    padding: 30px 20px 20px 20px;
    overflow: hidden;
    margin: 10px 0px;
    width: 100%;
    height:280px;
}
.saved-cards{
    padding: 10px;
    opacity: 1;
    background-color: #0f0f0f;
    float: left;
    width: 150px;
    height: 225px;
    margin: 10px 10px 10px 10px;
    border-radius: 1rem;
}
.saved-cards:hover{
    opacity: 0.5;
}
.saved-cards a{
  border: none;
  color: #BEBDBE;
}
.saved-cards a:hover{
  text-decoration: none;
}
.saved-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.saved-image img{

  width:100px;
  height:100px;
}

 
